# test ingore file
/data/
/out/
/test_figures/
*.buf
!/test_data/*.buf
*.ttimes
/lib/*.hdr
/sphinx/_*
/PyProgs/*.dat
*.mat
*.MAT
*.pyc
*.swp
*.swo
*.tgz
*.prof
/nll/
.DS_store
/test_data/*.tgz
/test_data/time_grids/
/lib/*test*
*ijen*
*hdf5
MANIFEST
/build/
/dist/
_build
